body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 95px 120px;
    align-items: center
}
nav a, a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 34px;
}
.influencer{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    align-items: center;
}
.details{
    height: 270px;
    width: 582px;
    margin-left: 120px;
    top: 285px;
    border-radius: 41px;
    

}
.influencer-img img{
    height: 414px;
    width: 440px;
    left: 835px;
    top: 211px;
    margin-right: 165px;
}
.bg{
    border-radius: 50%;
    border: 5px solid #cad5e2d0;
    width: 50%;
    height: 50%;
}
.button-color{
    background-color: #FF6263;
    padding: 15px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    Width: 150px;
    Height: 25px;
}
.ecommerce{
    display: flex;
    height: 110px;
    width: 1110px;
    margin: 120px;
    top: 725px;
    border-radius: 0px;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #758283;
    border-bottom: 2px solid #758283;

}
.title{
    text-align: center;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-items: center;
    

    
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 476px;
    width: 329px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgb(224, 221, 221);
    margin-bottom: 30px;
              
}
.popular-collection-image{
    height: 256px;
    width: 300px;
    border-radius: 5px;
    margin: 15px;

}
.item h1{
    font-weight: 500;
    margin: 16px 0 6px;
}
.item h3{
    font-weight: 400;
    margin: 0;
}
.item p{
    font-weight: 300;
    margin-top: 5px;
    color: #787885;
}
.item i{
    color: orange;
}
.view-more{
    text-align: right;
    margin-inline-end: 40px;
    
}
.view-more a{
    color: #FF6263;

}
.features-product img{
    height: 300px;
    width: 500px;
    margin-left: 55px;
}
.features{
    display: flex;
    height: 270px;
    width: 1110px;
    margin: 100px 15px;
    align-items: center;



}
.features-product{
    display: flex;
    margin-right: 96px;
}
footer{
    height: 200px;
    width: device-width;
    padding-top: 20px;
    background-color: #120E43;
}
.about h3, .about p, .about a{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 20px;
    
}
.about a{
    margin-left: 20px;
}

@media only screen and (max-width:360px) {
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}